In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('1 - Olympics_without_validating.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [5]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,147,148,148,148,148,148,148,148,148,148,148,148,148,148,148,148
unique,147,28,55,55,57,76,22,26,25,28,35,45,56,55,64,75
top,Dominican Republic (DOM),5,0,1,0,1,0,0,0,0,0,11,0,1,0,1
freq,1,17,47,27,23,26,45,109,104,105,101,17,46,26,22,26

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    object
 1   1       148 non-null    object
 2   2       148 non-null    object
 3   3       148 non-null    object
 4   4       148 non-null    object
 5   5       148 non-null    object
 6   6       148 non-null    object
 7   7       148 non-null    object
 8   8       148 non-null    object
 9   9       148 non-null    object
 10  10      148 non-null    object
 11  11      148 non-null    object
 12  12      148 non-null    object
 13  13      148 non-null    object
 14  14      148 non-null    object
 15  15      148 non-null    object
dtypes: object(16)
memory usage: 18.6+ KB

In [7]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15'],
      dtype='object')

In [8]:
df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
dtype: object

In [9]:
df.values

array([[nan, '№ Summer', '01 !', ..., '02 !', '03 !', 'Combined total'],
       ['Afghanistan\xa0(AFG)', '13', '0', ..., '0', '2', '2'],
       ['Algeria\xa0(ALG)', '12', '5', ..., '2', '8', '15'],
       ...,
       ['Zimbabwe\xa0(ZIM) [ZIM]', '12', '3', ..., '4', '1', '8'],
       ['Mixed team\xa0(ZZX) [ZZX]', '3', '8', ..., '5', '4', '17'],
       ['Totals', '27', '4809', ..., '5733', '6078', '17579']],
      dtype=object)

In [10]:
dfprueba = pd.DataFrame(df)

In [11]:
dfprueba.loc[0]

0                NaN
1           № Summer
2               01 !
3               02 !
4               03 !
5              Total
6           № Winter
7               01 !
8               02 !
9               03 !
10             Total
11           № Games
12              01 !
13              02 !
14              03 !
15    Combined total
Name: 0, dtype: object

In [12]:
dfprueba.columns = dfprueba.loc[0]

In [13]:
dfprueba.drop(0, axis=0, inplace=True)

In [14]:
dfprueba.reset_index(inplace=True)

In [15]:
dfprueba.drop('index', axis=1, inplace=True)

In [16]:
dfprueba.columns = [             'Pais',       '№ Summer',           '01 !',           '02 !',
                 '03 !',          'Total',       '№ Winter',           '01 !',
                 '02 !',           '03 !',          'Total',        '№ Games',
                 '01 !',           '02 !',           '03 !', 'Combined total']

In [17]:
dfprueba.columns = [             'Pais',       'N_Summer',           'Gold_Summer',           'Silver_Summer',
                 'Bronze_Summer',          'Total_Summer',       'N_Winter',           'Gold_Winter',
                 'Silver_Winter',           'Bronze_Winter',          'Total_Winter',        'N_Games',
                 'Gold_Total',           'Silver_Total',           'Bronze_Total', 'Combined total']

In [18]:
dfprueba['Codigo'] = dfprueba['Pais'].str.split('(')

In [19]:
dfprueba.drop('Codigo', axis=1, inplace=True)

In [20]:
dfprueba['Pais']

0                                 Afghanistan (AFG)
1                                     Algeria (ALG)
2                                   Argentina (ARG)
3                                     Armenia (ARM)
4                           Australasia (ANZ) [ANZ]
                           ...
142    Independent Olympic Participants (IOP) [IOP]
143                              Zambia (ZAM) [ZAM]
144                            Zimbabwe (ZIM) [ZIM]
145                          Mixed team (ZZX) [ZZX]
146                                          Totals
Name: Pais, Length: 147, dtype: object

In [21]:
Codigo = []
Codigo= dfprueba['Pais'].str.split('(')

In [22]:
Codigo= list(Codigo)

In [23]:
Codigo.pop()

['Totals']

In [24]:
codigo= []
for cod in Codigo:
    cod1 = ('('+ cod[1])
    codigo.append(cod1)

In [25]:
codigo.append('WORLD')
dfprueba['Codigo'] = codigo

In [26]:
dfprueba

,Pais,N_Summer,Gold_Summer,Silver_Summer,Bronze_Summer,Total_Summer,N_Winter,Gold_Winter,Silver_Winter,Bronze_Winter,Total_Winter,N_Games,Gold_Total,Silver_Total,Bronze_Total,Combined total,Codigo
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,(AFG)
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,(ALG)
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,(ARG)
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,(ARM)
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,(ANZ) [ANZ]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,(IOP) [IOP]
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,(ZAM) [ZAM]
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,(ZIM) [ZIM]
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,(ZZX) [ZZX]
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,WORLD

In [27]:
pais= []
for pais in Codigo:
    pais1 = ('('+ pais[0])
    pais.append(pais1)

In [28]:
pais1= []
for pais in Codigo:
    pais1.append(pais[0])

In [29]:
pais1.append('Totals')

In [30]:
dfprueba['Pais']= pais1

In [31]:
dfprueba

,Pais,N_Summer,Gold_Summer,Silver_Summer,Bronze_Summer,Total_Summer,N_Winter,Gold_Winter,Silver_Winter,Bronze_Winter,Total_Winter,N_Games,Gold_Total,Silver_Total,Bronze_Total,Combined total,Codigo
0,Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,(AFG)
1,Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,(ALG)
2,Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,(ARG)
3,Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,(ARM)
4,Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,(ANZ) [ANZ]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,(IOP) [IOP]
143,Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,(ZAM) [ZAM]
144,Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,(ZIM) [ZIM]
145,Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,(ZZX) [ZZX]
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,WORLD

In [32]:
dfprueba = dfprueba[['Pais','Codigo', 'N_Summer', 'Gold_Summer', 'Silver_Summer', 'Bronze_Summer',
       'Total_Summer', 'N_Winter', 'Gold_Winter', 'Silver_Winter',
       'Bronze_Winter', 'Total_Winter', 'N_Games', 'Gold_Total',
       'Silver_Total', 'Bronze_Total', 'Combined total']]

In [33]:
dfprueba[['N_Summer', 'Gold_Summer', 'Silver_Summer', 'Bronze_Summer',
       'Total_Summer', 'N_Winter', 'Gold_Winter', 'Silver_Winter',
       'Bronze_Winter', 'Total_Winter', 'N_Games', 'Gold_Total',
       'Silver_Total', 'Bronze_Total', 'Combined total']] = dfprueba[['N_Summer', 'Gold_Summer', 'Silver_Summer', 'Bronze_Summer',
       'Total_Summer', 'N_Winter', 'Gold_Winter', 'Silver_Winter',
       'Bronze_Winter', 'Total_Winter', 'N_Games', 'Gold_Total',
       'Silver_Total', 'Bronze_Total', 'Combined total']].astype(int)

In [34]:
dfprueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pais            147 non-null    object
 1   Codigo          147 non-null    object
 2   N_Summer        147 non-null    int32
 3   Gold_Summer     147 non-null    int32
 4   Silver_Summer   147 non-null    int32
 5   Bronze_Summer   147 non-null    int32
 6   Total_Summer    147 non-null    int32
 7   N_Winter        147 non-null    int32
 8   Gold_Winter     147 non-null    int32
 9   Silver_Winter   147 non-null    int32
 10  Bronze_Winter   147 non-null    int32
 11  Total_Winter    147 non-null    int32
 12  N_Games         147 non-null    int32
 13  Gold_Total      147 non-null    int32
 14  Silver_Total    147 non-null    int32
 15  Bronze_Total    147 non-null    int32
 16  Combined total  147 non-null    int32
dtypes: int32(15), object(2)
memory usage: 11.0+ KB

In [35]:
dfprueba.loc[0:145].describe()

,N_Summer,Gold_Summer,Silver_Summer,Bronze_Summer,Total_Summer,N_Winter,Gold_Winter,Silver_Winter,Bronze_Winter,Total_Winter,N_Games,Gold_Total,Silver_Total,Bronze_Total,Combined total
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,13.383562,32.938356,32.705479,35.136986,100.780822,6.595890,6.568493,6.561644,6.493151,19.623288,19.979452,39.506849,39.267123,41.630137,120.404110
std,7.006657,96.745184,80.648421,77.118416,252.700436,7.349012,18.975086,18.606996,17.499654,54.640914,13.084062,109.932471,93.984393,89.826117,291.988913
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,1.000000,1.000000,2.250000
50%,13.000000,3.000000,4.000000,6.000000,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15.000000,3.000000,4.000000,6.500000,12.000000
75%,18.000000,23.000000,26.750000,28.750000,85.250000,10.000000,0.750000,1.750000,1.000000,4.750000,26.000000,24.500000,28.000000,29.000000,87.750000
max,27.000000,976.000000,757.000000,666.000000,2399.000000,22.000000,118.000000,111.000000,100.000000,329.000000,49.000000,1072.000000,859.000000,750.000000,2681.000000

# VALIDACIONES

In [36]:
dfprueba.columns

Index(['Pais', 'Codigo', 'N_Summer', 'Gold_Summer', 'Silver_Summer',
       'Bronze_Summer', 'Total_Summer', 'N_Winter', 'Gold_Winter',
       'Silver_Winter', 'Bronze_Winter', 'Total_Winter', 'N_Games',
       'Gold_Total', 'Silver_Total', 'Bronze_Total', 'Combined total'],
      dtype='object')

In [37]:
Validacion_N_Juegos = dfprueba['N_Summer'] + dfprueba['N_Winter'] == dfprueba['N_Games']

In [38]:
Validacion_N_Juegos.sum()

147

In [39]:
Validacion_Medals_Summer = dfprueba[['Gold_Summer', 'Silver_Summer',
       'Bronze_Summer']].sum(axis=1) == dfprueba['Total_Summer']

Validacion_Medals_Summer.sum()

147

In [40]:
Validacion_Medals_Winter = dfprueba[['Gold_Winter', 'Silver_Winter',
       'Bronze_Winter']].sum(axis=1) == dfprueba['Total_Winter']

Validacion_Medals_Winter.sum()

147

In [41]:
Validacion_Total_Medals = dfprueba['Total_Summer'] + dfprueba['Total_Winter'] == dfprueba['Combined total']
Validacion_Total_Medals.sum()

147

In [42]:
Validacion_Total_Golds = dfprueba['Gold_Summer'] + dfprueba['Gold_Winter'] == dfprueba['Gold_Total']
Validacion_Total_Golds.sum()

147

In [43]:
Validacion_Total_Silver = dfprueba['Silver_Summer'] + dfprueba['Silver_Winter'] == dfprueba['Silver_Total']
Validacion_Total_Silver.sum()

147

In [44]:
Validacion_Total_Bronze = dfprueba['Bronze_Summer'] + dfprueba['Bronze_Winter'] == dfprueba['Bronze_Total']
Validacion_Total_Bronze.sum()

147

In [45]:
dfprueba

,Pais,Codigo,N_Summer,Gold_Summer,Silver_Summer,Bronze_Summer,Total_Summer,N_Winter,Gold_Winter,Silver_Winter,Bronze_Winter,Total_Winter,N_Games,Gold_Total,Silver_Total,Bronze_Total,Combined total
0,Afghanistan,(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria,(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina,(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia,(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia,(ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Independent Olympic Participants,(IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia,(ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe,(ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team,(ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,WORLD,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [46]:
Validacion_Medals_Totals = dfprueba[['Gold_Summer', 'Silver_Summer', 'Bronze_Summer',
       'Total_Summer', 'Gold_Winter', 'Silver_Winter',
       'Bronze_Winter', 'Total_Winter', 'Gold_Total',
       'Silver_Total', 'Bronze_Total', 'Combined total']][0:146].sum() == dfprueba[['Gold_Summer', 'Silver_Summer', 'Bronze_Summer',
       'Total_Summer', 'Gold_Winter', 'Silver_Winter',
       'Bronze_Winter', 'Total_Winter','Gold_Total',
       'Silver_Total', 'Bronze_Total', 'Combined total']].loc[146]

In [47]:
Validacion_Medals_Totals

Gold_Summer       True
Silver_Summer     True
Bronze_Summer     True
Total_Summer      True
Gold_Winter       True
Silver_Winter     True
Bronze_Winter     True
Total_Winter      True
Gold_Total        True
Silver_Total      True
Bronze_Total      True
Combined total    True
dtype: bool

In [48]:
Validacion_Games_Totals = dfprueba[['N_Summer','N_Winter','N_Games']].loc[146] == dfprueba[['N_Summer','N_Winter','N_Games']].max()

In [49]:
Validacion_Games_Totals

N_Summer    True
N_Winter    True
N_Games     True
dtype: bool

In [53]:
dfprueba.to_csv('3 - Real_Olympics_Dataset.csv')